<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/anydarproducto" method="post">

    <div>
        <label for="">Nombre del producto</label>
        <input type="text" name="nombre">
    </div>
    <div>
        <label for="">Precio del producto</label>
        <input type="number" name="precio" placeholder="introduce el precio del producto">
    </div>
    <div>
        <label for="">Cantidad</label>
        <input type="text" name="cantidad" placeholder="cantidad del producto">
    </div>
    <div>
        <label for="">estado</label>
        <input type="text" name="estado">
    </div>
    <button type="submit"> anadir producto</button>

    </form>
    
</body>
</html>