<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/editarproducto/${producto._id}" method="post">


    <div>
        <label for="">Precio del producto</label>
        <input type="number" name="precio" placeholder="introduce el precio del producto">
    </div>
    
    <button type="submit"> anadir producto</button>

    </form>
    
</body>
</html>